*, html{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgba(20,20,20,1);
}

#loader1{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 100px;
	height: 100px;
	
	border: 3px dashed;
	border-radius: 50%;
	border-color: white;
	
	color: white;
	line-height: 100px;
	text-align: center;
	
	animation-name: anim1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes anim1{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

#percentage{
	animation-name: anim1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: reverse;
}

#loader2{
	position: absolute;
	top: 200px;
	left: 20px;
	
	height: 20px;
	width: 200px;
	border: 2px solid white;
}

#progress{
	background-color: green;
	height: 20px;
	width: 0px;
	animation: progressAnim 5s infinite linear;
}

@keyframes progressAnim{
	0%{
		width: 0px;
		background-color: red;
	}
	100%{
		width: 200px;
	}
}

#ball1{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim1 1.5s infinite ease-in-out;
	transform-origin: 0px 30px;
}

#ball2{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim2 1.5s infinite ease-in-out;
	animation-delay: 200ms;
	transform-origin: 0px 30px;
}

#ball3{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim3 1.5s infinite ease-in-out;
	animation-delay: 400ms;
	transform-origin: 0px 30px;
}

#ball4{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim4 1.5s infinite ease-in-out;
	animation-delay: 600ms;
	transform-origin: 0px 30px;
}

#ball5{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim5 1.5s infinite ease-in-out;
	animation-delay: 800ms;
	transform-origin: 0px 30px;
}

@keyframes rotateAnim1{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes rotateAnim2{
	0%{
		transform: rotate(-10deg);
	}
	100%{
		transform: rotate(350deg);
	}
}	
@keyframes rotateAnim3{
	0%{
		transform: rotate(-20deg);
	}
	100%{
		transform: rotate(340deg);
	}
}	
@keyframes rotateAnim4{
	0%{
		transform: rotate(-30deg);
	}
	100%{
		transform: rotate(330deg);
	}
}	
@keyframes rotateAnim5{
	0%{
		transform: rotate(-40deg);
	}
	100%{
		transform: rotate(320deg);
	}
}

#loader4 {
	position: absolute;
	top: 450px;
	left: 20px;
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8 {
	position: relative;
	background-color: white;
	height: 20px;
	width: 20px;
}

#box1 {
	animation: animBox1 1.6s infinite;
}

#box2 {
	margin-top: -20px;
	margin-left: 20px;
	animation: animBox2 1.6s infinite;
	animation-delay: 200ms;
}

#box3 {
	margin-top: -20px;
	margin-left: 40px;
	animation: animBox3 1.6s infinite;
	animation-delay: 400ms;
}

#box4 {
	margin-left: 40px;
	animation: animBox4 1.6s infinite;
	animation-delay: 600ms;
}

#box5 {
	margin-left: 40px;
	animation: animBox5 1.6s infinite;
	animation-delay: 800ms;
}

#box6 {
	margin-top: -20px;
	margin-left: 20px;
	animation: animBox6 1.6s infinite;
	animation-delay: 1000ms;
}

#box7 {
	margin-top: -20px;
	animation: animBox7 1.6s infinite;
	animation-delay: 1200ms;
}

#box8 {
	margin-top: -40px;
	animation: animBox8 1.6s infinite;
	animation-delay: 1400ms;
}

@keyframes animBox1 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox2 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox3 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox4 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox5 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox6 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox7 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox8 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

#loader5square {
	position: relative;
	background-color: white;
	top: 30px;
	left: 30px;
	height: 0px;
	width: 0px;
	animation: loader5anim 2s infinite;
}

@keyframes loader5anim {
	0% {
		height: 20px;
		width: 0px;
		}
		
	12,5% {
		height: 20px;
		width: 40px;
		}
		
	25% {
		height: 40px;
		width: 40px;
		}
		
	42,5% {
		height: 40px;
		width: 20px;
		}
	
	55% {
		height: 40px;
		width: 20px;
		}
	
	67,5% {
		height: 40px;
		width: 20px;
		}
		
	80% {
		height: 40px;
		width: 20px;
		}
		
	92,5% {
		height: 40px;
		width: 20px;
		}
	
	100% {
		height: 0px;
		width: 20px;
		}
}