*, html{
	padding: 0;
	margin: 0;
}

body{
	background-color: rgba(20,20,20,1);
}

#ball1{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim1 1.5s infinite ease-in-out;
	transform-origin: 0px 30px;
}

#ball2{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim2 1.5s infinite ease-in-out;
	animation-delay: 200ms;
	transform-origin: 0px 30px;
}

#ball3{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim3 1.5s infinite ease-in-out;
	animation-delay: 400ms;
	transform-origin: 0px 30px;
}

#ball4{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim4 1.5s infinite ease-in-out;
	animation-delay: 600ms;
	transform-origin: 0px 30px;
}

#ball5{
	position: absolute;
	top: 300px;
	left: 50px;
	width: 5px;
	height: 5px;
	
	background-color: white;
	border-radius: 50%;
	
	animation: rotateAnim5 1.5s infinite ease-in-out;
	animation-delay: 800ms;
	transform-origin: 0px 30px;
}

@keyframes rotateAnim1{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes rotateAnim2{
	0%{
		transform: rotate(-10deg);
	}
	100%{
		transform: rotate(350deg);
	}
}	
@keyframes rotateAnim3{
	0%{
		transform: rotate(-20deg);
	}
	100%{
		transform: rotate(340deg);
	}
}	
@keyframes rotateAnim4{
	0%{
		transform: rotate(-30deg);
	}
	100%{
		transform: rotate(330deg);
	}
}	
@keyframes rotateAnim5{
	0%{
		transform: rotate(-40deg);
	}
	100%{
		transform: rotate(320deg);
	}
}

#loader2 {
	position: absolute;
	top: 150px;
	left: 20px;
}

#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8 {
	position: relative;
	background-color: white;
	height: 20px;
	width: 20px;
}

#box1 {
	animation: animBox1 1.6s infinite;
}

#box2 {
	margin-top: -20px;
	margin-left: 20px;
	animation: animBox2 1.6s infinite;
	animation-delay: 200ms;
}

#box3 {
	margin-top: -20px;
	margin-left: 40px;
	animation: animBox3 1.6s infinite;
	animation-delay: 400ms;
}

#box4 {
	margin-left: 40px;
	animation: animBox4 1.6s infinite;
	animation-delay: 600ms;
}

#box5 {
	margin-left: 40px;
	animation: animBox5 1.6s infinite;
	animation-delay: 800ms;
}

#box6 {
	margin-top: -20px;
	margin-left: 20px;
	animation: animBox6 1.6s infinite;
	animation-delay: 1000ms;
}

#box7 {
	margin-top: -20px;
	animation: animBox7 1.6s infinite;
	animation-delay: 1200ms;
}

#box8 {
	margin-top: -40px;
	animation: animBox8 1.6s infinite;
	animation-delay: 1400ms;
}

@keyframes animBox1 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox2 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox3 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox4 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox5 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox6 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox7 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

@keyframes animBox8 {
	0% {transform: scale(0.1);}
	25% {transform: scale(0.1);}
	50% {transform: scale(1);}
	75% {transform: scale(0.1);}
	100% {transform: scale(0.1);}
}

#loader3square1 {
	position: absolute;
	background-color: white;
	animation: loader3anim1 4s infinite;
}

#loader3square2 {
	position: absolute;
	background-color: red;
	animation: loader3anim2 4s infinite;
}

@keyframes loader3anim1 {
	0% {
		height: 20px;
		width: 20px;
		
		top: 20px;
		left: 20px;
		}
		
	12% {
		height: 20px;
		width: 60px;
		
		top: 20px;
		left: 20px;
		}
		
	25% {
		height: 20px;
		width: 20px;
		
		top: 20px;
		left: 60px;
		}
		
	37% {
		height: 60px;
		width: 20px;
		
		top: 20px;
		left: 60px;
		}
	
	50% {
		height: 20px;
		width: 20px;
		
		top: 60px;
		left: 60px;
		}
	
	62% {
		height: 20px;
		width: 60px;
		
		top: 60px;
		left: 20px;
		}
		
	75% {
		height: 20px;
		width: 20px;
		
		top: 60px;
		left: 20px;
		}
		
	87% {
		height: 60px;
		width: 20px;
		
		top: 20px;
		left: 20px;
		}
	
	100% {
		height: 20px;
		width: 20px;
		
		top: 20px;
		left: 20px;
		}
}

@keyframes loader3anim2 {
	0% {
		height: 20px;
		width: 20px;
		
		top: 60px;
		left: 60px;
		}
		
	12% {
		height: 20px;
		width: 60px;
		
		top: 60px;
		left: 20px;
		}
		
	25% {
		height: 20px;
		width: 20px;
		
		top: 60px;
		left: 20px;
		}
		
	37% {
		height: 60px;
		width: 20px;
		
		top: 20px;
		left: 20px;
		}
	
	50% {
		height: 20px;
		width: 20px;
		
		top: 20px;
		left: 20px;
		}
	
	62% {
		height: 20px;
		width: 60px;
		
		top: 20px;
		left: 20px;
		}
		
	75% {
		height: 20px;
		width: 20px;
		
		top: 20px;
		left: 60px;
		}
		
	87% {
		height: 60px;
		width: 20px;
		
		top: 20px;
		left: 60px;
		}
	
	100% {
		height: 20px;
		width: 20px;
		
		top: 60px;
		left: 60px;
		}
}

#loader4 {
	position: absolute;
	top: 400px;
	left: 20px;
	height: 100px;
	width: 100px;
}

#hourglass {
	position: relative;
	height: 100px;
	width: 100px;
	z-index: 2;
	animation: loader4anim3 6s infinite;
}

#hourglass img {
	position: absolute;
	height: 100px;
	width: 100px;
	z-index: 3;
}

#sand1 {
	z-index: 1;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 80px;
	background-color: rgba(70,70,70,1);
	animation: loader4anim1 6s infinite;
}

#sand2 {
	position: absolute;
	top: 50px;
	left: 10px;
	width: 80px;
	background-color: rgba(70,70,70,1);
	animation: loader4anim2 6s infinite;
}

@keyframes loader4anim1 {
	0% {
		height: 40px;
	}
	
	25% {
		top: 50px;
		height: 0px;
	}
	
	50% {
		top: 10px;
		height: 0px;
	}
	
	75% {
		top: 10px;
		height: 40px;
	}
	
	100% {
		top: 10px;
		height: 40px;
	}
}

@keyframes loader4anim2 {
	0% {
		height: 0px;
		top: 90px;
	}
	
	25% {
		top: 50px;
		height: 40px;
	}
	
	50% {
		top: 50px;
		height: 40px;
	}
	
	75% {
		top: 50px;
		height: 0px;
	}
	
	100% {
		top: 50px;
		height: 0px;
	}
}

@keyframes loader4anim3 {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(0deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(180deg);
	}
	
	100% {
		transform: rotate(0deg);
	}
}

#loader5 {
	position: absolute;
	height: 40px;
	width: 60px;
	top: 550px;
	left: 30px;
}

#loader5box1 {
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: rgba(255,255,255,1);
	animation: loader5anim1 4s infinite;
}

#loader5box2 {
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: rgba(255,255,255,1);
	animation: loader5anim2 4s infinite;
}

@keyframes loader5anim1 {
	0% {
		top: 0px;
		left: 20px;
	}
	
	20% {
		top: 0px;
		left: 40px;
	}
	
	40% {
		top: 20px;
		left: 40px;
	}
	
	60% {
		top: 20px;
		left: 20px;
	}
	
	80% {
		top: 20px;
		left: 20px;
	}
	
	100% {
		top: 20px;
		left: 20px;
	}
}

@keyframes loader5anim2 {
	0% {
		top: 20px;
		left: 20px;
	}
	
	20% {
		top: 20px;
		left: 20px;
	}
	
	40% {
		top: 20px;
		left: 20px;
	}
	
	60% {
		top: 20px;
		left: 0px;
	}
	
	80% {
		top: 0px;
		left: 0px;
	}
	
	100% {
		top: 0px;
		left: 20px;
	}
}