body {
	background-color: gray;
}

#mainBG {
	position: absolute;
	height: 1120px;
	width: 800px;
	
	border: 6px solid black;
	border-radius: 10px;
	
	background-image: url(../images/bg.png);
	background-size: cover;
}

#viiva1, #viiva2, #viiva3 {
	position: relative;
	background-color: black;
	height: 2px;
}

#viiva1 {
	width: 380px;
	top: 190px;
	left: 400px;
}

#viiva2 {
	width: 375px;
	top: 624px;
	left: 405px;
}

#viiva3 {
	width: 380px;
	top: 728px;
	left: 400px;
}

#titleText {
	position: relative;
	top: 25px;
	left: 125px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	text-align: center;
}

#tyokokemusText {
	position: relative;
	top: 75px;
	left: 270px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

#tunnustuksetText {
	position: relative;
	top: 115px;
	left: 270px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

#harrastuksetText {
	position: relative;
	top: 155px;
	left: 270px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

#sideBG {
	position: absolute;
	height: 1120px;
	width: 250px;
	top: 10px;
	left: 10px;
	
	border: 4px solid black;
	
	background-image: url(../images/bg_side.png);
	background-position: center;
	background-size: cover;
}

#viiva4, #viiva5 {
	position: relative;
	background-color: white;
	height: 2px;
}

#viiva4 {
	width: 120px;
	top: 93px;
	left: 120px;
}

#viiva5 {
	width: 123px;
	top: 233px;
	left: 117px;
}

#img {
	position: relative;
	height: 200px;
	width: 200px;
	
	top: 21px;
	left: 20px;
	
	border: 4px solid black;
	border-radius: 25%;
	box-shadow: 5px 5px 20px black;
	
	background-color: white;
}

#yhteystiedotText {
	position: relative;
	top: 80px;
	left: 11px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
}

a{
	color: rgba(200,150,150,1);
	text-decoration: none;
	transition: all 0.15s ease-in-out;
}

a:hover {
	color: red !important;
}

a:visited{
	color: rgba(180,130,130,1);
}

#koulutuksetText {
	position: relative;
	top: 440px;
	left: 17px;
	
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: white;
}