body{
	background-color: rgba(20,20,20,1);
}

	/* Paneelin tausta */

#background {
	position: absolute;
	width: 940px;
	height: 540px;
	background-image: url(../images/background.png);
	border: 10px solid;
	border-color: rgba(35,35,35,1);
	border-radius: 20px;
	z-index: -1;
	
	/* Paneelin tekstin asetukset */
	
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	line-height: 90px;
	color: rgba(190,190,190,1);
	text-align: center;
	
	animation-name: bgAnim;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes bgAnim {
	0% {background-position: 0px 0px;}
	50% {background-position: -50px -50px;}
	100% {background-position: 0px 0px;}
}

#text {
	position: absolute;
	top: 110px;
	left: 255px;
	z-index: 0;
	
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	line-height: 80px;
	color: rgba(190,190,190,1);
	text-align: center;
}

	/* Nappien perusasetukset */

.button {
	position: absolute;
	border-color: rgba(70,50,90,1);
	border-radius: 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	z-index: 2;
}

	/* Nappien jaetut asetukset */

.button1,.button2,.button3,.button4,.button5 {
	position: absolute;
	top: 335px;
	height: 163px;
	width: 165px;
	border: 4px solid;
	box-sizing: border-box;
	border-color: rgba(35,35,35,1);
	font-weight: bold;
	font-size: 30px;
}

	/* Yksittäiset asetukset napeille */

.button1 {
	background-color: rgba(50,255,30,1);
	left: 25px;
}

.button2 {
	background-color: rgba(170,255,33,1);
	left: 210px;
}

.button3 {
	background-color: rgba(255,255,40,1);
	left: 395px;
}

.button4 {
	background-color: rgba(255,150,30,1);
	left: 580px;
}

.button5 {
	background-color: rgba(255,60,20,1);
	left: 765px;
}

	/* Efektien lisäys napeille kun nappia painetaan */

.button1:active {
	background-color: rgba(30,210,20,1);
	box-shadow: 0px 0px 0px 14px rgba(10,190,0,1) inset;
}

.button2:active {
	background-color: rgba(137,210,20,1);
	box-shadow: 0px 0px 0px 14px rgba(117,190,0,1) inset;
}

.button3:active {
	background-color: rgba(200,210,25,1);
	box-shadow: 0px 0px 0px 14px rgba(180,190,5,1) inset;
}

.button4:active {
	background-color: rgba(210,120,20,1);
	box-shadow: 0px 0px 0px 14px rgba(200,110,10,1) inset;
}

.button5:active {
	background-color: rgba(210,50,20,1);
	box-shadow: 0px 0px 0px 14px rgba(200,40,10,1) inset;
}

	/* Palautteen lähetysviesti */

#msg{
	position: absolute;
	top: 230px;
	left: 300px;
	
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
	line-height: 80px;
	color: transparent;
	text-align: center;
}

	/* Animaatio viestin ilmestymiselle */

.visible {
	animation-name: showAnim;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

	/* Animaatio viestin katoamiselle */

.hidden {
	color: transparent;
}

@keyframes showAnim {
	0%,100% {opacity: 0; top: 220px;}
	20%,80% {opacity: 1; color: white; top: 200px;}
}

	/* Laskuri numerot jokaiselle napille */

#nappi1,#nappi2,#nappi3,#nappi4,#nappi5 {
	position: absolute;
	top: 315px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-left: 45px;
	z-index: 2;
}

#nappi1 {
	left: 80px;
}

#nappi2 {
	left: 280px;
}

#nappi3 {
	left: 480px;
}

#nappi4 {
	left: 680px;
}

#nappi5 {
	left: 880px;
}

.Tiedot {
	position: absolute;
	top: 50px;
	left: 50px;
}