body{
	background-color: white;
}

	/* Paneelin tausta */

#background {
	position: absolute;
	left: 0px;
	width: 960px;
	height: 540px;
	background-image: url(../images/background.png);
	border: 10px solid;
	border-color: black;
	border-radius: 20px;
	z-index: -1;
	
	/* Paneelin tekstin asetukset */
	
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	line-height: 80px;
	color: black;
	font-weight: bold;
	text-align: left;
	padding-left: 40px;
	
	animation-name: bgAnim;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes bgAnim {
	0% {background-position: 0px 0px;}
	50% {background-position: -50px -50px;}
	100% {background-position: 0px 0px;}
}

#text {
	position: absolute;
	top: 90px;
	left: 160px;
	z-index: 0;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	line-height: 80px;
	color: black;
	text-align: center;
}

	/* Nappien asetukset */

.button1,.button2,.button3,.button4,.button5 {
	position: absolute;
	top: 335px;
	height: 173px;
	width: 175px;
	box-sizing: border-box;
	
	border: 4px solid black;
	border-radius: 40px;
	
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	z-index: 2;
}

	/* Yksittäiset asetukset napeille */

.button1 {
	background-color: rgba(50,255,30,1);
	left: 30px;
}

.button2 {
	background-color: rgba(170,255,33,1);
	left: 225px;
}

.button3 {
	background-color: rgba(255,255,40,1);
	left: 420px;
}

.button4 {
	background-color: rgba(255,150,30,1);
	left: 615px;
}

.button5 {
	background-color: rgba(255,60,20,1);
	left: 810px;
}

	/* Efektien lisäys napeille kun nappia painetaan */

.button1:active {
	background-color: rgba(30,210,20,1);
	box-shadow: 0px 0px 0px 14px rgba(10,190,0,1) inset;
}

.button2:active {
	background-color: rgba(137,210,20,1);
	box-shadow: 0px 0px 0px 14px rgba(117,190,0,1) inset;
}

.button3:active {
	background-color: rgba(200,210,25,1);
	box-shadow: 0px 0px 0px 14px rgba(180,190,5,1) inset;
}

.button4:active {
	background-color: rgba(210,120,20,1);
	box-shadow: 0px 0px 0px 14px rgba(200,110,10,1) inset;
}

.button5:active {
	background-color: rgba(210,50,20,1);
	box-shadow: 0px 0px 0px 14px rgba(200,40,10,1) inset;
}

	/* Palautteen lähetysviesti */

#msg{
	position: absolute;
	top: 200px;
	left: 278px;
	
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	line-height: 80px;
	color: transparent;
	text-align: center;
}

	/* Animaatio viestin ilmestymiselle */

.visible {
	animation-name: showAnim;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: both;
}

	/* Animaatio viestin katoamiselle */

.hidden {
	color: transparent;
}

@keyframes showAnim {
	0%,100% {opacity: 0; top: 200px;}
	20%,80% {opacity: 1; color: black; top: 180px;}
}

	/* Nappien timeout animaatio */

button[type="button"]:disabled {
	opacity: 0.75;
}

	/* Laskuri numerot jokaiselle napille */

#nro1,#nro2,#nro3,#nro4,#nro5 {
	position: absolute;
	top: 315px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	color: transparent;
	margin-left: 45px;
	z-index: 2;
}

#nro1 {
	left: 70px;
}

#nro2 {
	left: 265px;
}

#nro3 {
	left: 460px;
}

#nro4 {
	left: 655px;
}

#nro5 {
	left: 850px;
}

.Tiedot {
	position: absolute;
	background-color: transparent;
	border: none;
	top: 30px;
	left: 800px;
	height: 130px;
	width: 180px;
	background-image: url(../images/Luovi_logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 9999;
}